# Default values for ttn-web.
replicaCount: 1

image:
  repository: ghcr.io/der-ttn/website
  pullPolicy: IfNotPresent
  tag: '0.0.3'

nameOverride: ''
fullnameOverride: ''

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ''

podAnnotations: {}
podLabels: {}

# Security context with NET_BIND_SERVICE capability for port 80
podSecurityContext: {}

securityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
    add:
      - NET_BIND_SERVICE
  readOnlyRootFilesystem: false
  runAsNonRoot: true
  runAsUser: 101

service:
  type: ClusterIP
  port: 80
  targetPort: 80

ingress:
  enabled: true
  className: 'traefik'
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: 'web,websecure'
    traefik.ingress.kubernetes.io/router.middlewares: 'website-redirect-https@kubernetescrd'
    cert-manager.io/cluster-issuer: 'letsencrypt-prod'
    traefik.ingress.kubernetes.io/router.tls: 'true'
    traefik.ingress.kubernetes.io/router.tls.certresolver: 'letsencrypt'
  hosts:
    - host: der-ttn.de
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: ttn-web-tls
      hosts:
        - der-ttn.de

resources: {}

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

namespace: website